<div class="loginContainer">
  <%= image_tag image_path("EnrollChatLogo.png"), height: 50, class: "d-inline-block float-left" %>
  <h1 class="display-4 font-weight-bold d-inline-block">EnrollChat</h1>
  <div class="card">
    <div class="card-body">
      <span>Based on the information you provided, it appears you are not registered to use this system. To request access, please <%= link_to 'write the administrators', "mailto:#{ENV['ENROLLCHAT_ADMIN_EMAIL']}" %>.</span>
    </div>
  </div>
  <footer class="footer">
    <p class="text-right">A product of the CHSSWeb team</p>
  </footer>
</div>