<div class="card-body px-0 table-responsive">
<table id="class-sections" class="table table-striped table-sm table-hover dataTable dtr-inline" cellspacing="0" width="100%">
  <thead>
  <tr class="stylish-color-dark text-white">
    <th></th>
    <th>Flagged As</th>
    <th>Department</th>
    <th>Cross List Group</th>
    <th>Course Section</th>
    <th>Title</th>
    <th>Credits</th>
    <th>Level</th>
    <th>Status</th>
    <th>Enrollment Limit</th>
    <th>Actual Enrollment</th>
    <th>Cross List Enrollment</th>
    <th>Waitlist</th>
    <th>Added</th>
    <th>Canceled</th>
    <th>Last Comment</th>
    <th>Comments</th>
    <th>Graph</th>
  </tr>
  </thead>

  <tbody>
  <%= render @sections %>
  </tbody>
</table>
</div>
