<table id="class-sections" class="table table-striped table-responsive table-sm table-hover" cellspacing="0" width="100%">
  <thead>
  <tr class="bg-info">
    <th>Department</th>
    <th>Cross List Group</th>
    <th>Course Section</th>
    <th>Title</th>
    <th>Credits</th>
    <th>Level</th>
    <th>Status</th>
    <th>Enrollment Limit</th>
    <th>Actual Enrollment</th>
    <th>Cross List Enrollment</th>
    <th>Waitlist</th>
    <th>Comments</th>
  </tr>
  </thead>

  <tbody>
  <%= render @sections %>
  </tbody>
</table>
