<span id="alert-wrapper"></span>
<div class="row">
  <div class="col-sm-8">
    <h1><%= term_in_words(@term) %> Sections</h1>

    <table class="table table-striped table-bordered table-responsive table-sm table-hover" cellspacing="0" width="100%">
      <thead>
      <tr class="bg-info">
        <th>Department</th>
        <th>Cross List Group</th>
        <th>Course Section</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Level</th>
        <th>Status</th>
        <th>Enrollment Limit</th>
        <th>Actual Enrollment</th>
        <th>Cross List Enrollment</th>
        <th>Waitlist</th>
        <th>Comments</th>
      </tr>
      </thead>

      <tbody>
      <%= render @sections %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2 bg-faded" id="comments-column">
    <h1>Placeholder for comments</h1>
  </div>
  <div class="col-sm-2 bg-yellow" id="notifications">

  </div>
</div>

<script type="application/javascript">
  $(document).ready(function() {
    $('#class-sections').DataTable( {
      stateSave: true,
    } );
  } );
</script>
