<div class="col-lg-12">
   <div class="card mt-3">
    <div class="card-body">
      <div class="col-lg-12 form-horizontal">
        <%= render 'section_table' %>
      </div>
    </div>
  </div>

</div>