<h1>EnrollChat Daily Digest</h1>
<p>EnrollChat allows you to choose to receive daily digests of comments or individual emails each time a comment is posted. You will be notified of comments relevant to your selected programs, or to all programs if you have not selected a preference.</p>
<p>To change your preferences, log into EnrollChat and click <%= link_to "Preferences", edit_user_url(@recipient, host: 'enrollchat.herokuapp.com') %>.</p>

<hr />

<%= @message %>