<span id="alert-wrapper"></span>

<div class="row">
  <div class="col-sm-8">
    <h1 class="card-title mr-2 mb-0 d-inline-block"><%= term_in_words(@term) %> Report</h1>
    <small class="d-inline-block"> as of <%= @max_date.strftime('%B %-d, %Y') %></small>

    <div class="card mt-3">
      <div class="card-body">
	    <div id="report-table" class="table-responsive">
	      <%= render 'report_table' %>
	    </div>
	  </div>
	</div>
  </div>
</div>

